<app-card-simple icon="water_drop" title="Humidity">
  <p class="font-normal mb-2 text-2xl lg:text-4xl text-slate-500 dark:text-white">{{ humidity() }}%</p>
  <p class="font-normal text-sm text-slate-500 dark:text-white">
    @if(humidity() < 40) {
      Low humidity. It might feel dry.
    }
    @if (humidity() >=40 && humidity() < 60){
      Moderate humidity. Comfortable conditions.
    }
    @if (humidity() >= 60) {
      High humidity. It might feel humid and uncomfortable.
    }
  </p>
</app-card-simple>
